// sass --watch sass:css --no-source-map --style compressed
$cor: #ffffff;

h1 {
    color: $cor;
    background-color: blue;
    text-align: center;
}

div {
    background-color: red;

    p {
        color: blue;

        span {
            background-color: green;
        }
    }
}

%base-mensagens {
    padding: 10px;
    font-size: 24px;
    border-radius: 7px;
    border: 2px solid gray;
}

.msg {
    padding: 10px;
    font-size: 24px;
    border-radius: 7px;
    border: 2px solid gray;
}

.erro {
    // @extend %base-mensagens;
    background-color: red;
    border: #a00505 solid 2px;
}

.success {
    background-color: transparent;
    color: green($color: #000000);
    border: green solid 2px;
}




